#caption{
    border-style: solid;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    border-color: deepskyblue;
    background-color: palegoldenrod;
    width: 420px;
    border-radius: 10px;
    margin-left: 50px;
    margin-bottom: 20px;
    float: none;
}

/* remove spaces between lines which surrounds rows and columns*/
#game_field table {
    border-collapse:collapse;
    margin-left: 50px;
    font-size: 10px;
    float: left;
}

#game_field table tr td {
    border: solid #1b1ecc 1px;
    padding: 5px 7px;
    height: 20px;
    width: 20px;
}

#navigation{
    border-style: solid;
    border-color: deepskyblue;
    border-radius: 10px;
    margin-left: 50px;
    width: inherit;
    float: none;
    /*
    outline:blueviolet solid 2px;
    */
}


#navigation td {
    vertical-align: middle;
    text-align: center;
    margin-left: 50%;
}

#score{
    border-style: solid;
    border-color: deepskyblue;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 20px;
    width: inherit;
    float: none;
    text-align: center;
    /*
    outline:blueviolet solid 2px;
    */
}

#score table th td {
    width: 40px;
}


#game_statistics{
    border-style: solid;
    border-color: deepskyblue;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 20px;
    width: inherit;
    height: 500px;
    float: none;
    text-align: center;
    /*
    outline:blueviolet solid 2px;
    */
}

#game_statistics table th td {
    width: 40px;
}

#wrapper {
    float: left;
    height: 200px;
    width: 240px;
    font-weight: bold;
}

#collected_rows {
    width: 50px;
    text-align: center;
}

#row_label {
    width: 150px;
    text-align: right;

}

div [id*="_div"] table{
    border-collapse:collapse;
    margin-left: 50px;
    font-size: 10px;
    float: left;
}

div [id*="_div"] table tr td{
    border: solid #1b1ecc 1px;
    height: 8px;
    width: 8px;
    text-align: left;
}
