/* remove spaces between lines which surrounds rows and columns*/
table {
    border-collapse:collapse;
    font-size: 10px;
    float: left;
}

table tr td {
    border: solid #1b1ecc 1px;
    padding: 5px 7px;
}

tr,td {
    height: 20px;
    width: 20px;
}
